<ion-list>
  <!-- <ion-list-header>Ionic</ion-list-header> -->
  <ion-item button (click)="buddyinfo(1)"><i class="fa fa-user" aria-hidden="true"></i>
    &nbsp;Group Information</ion-item>
  <ion-item button (click)="buddyinfo(2)"><i class="fa fa-file" aria-hidden="true"></i>
    &nbsp;File Filter</ion-item>
  <ion-item button (click)="buddyinfo(3)"><i class="fa fa-filter" aria-hidden="true"></i>
    &nbsp;Chat Filter</ion-item>
    <ion-item button (click)="buddyinfo(4)"><i class="fa fa-trash" aria-hidden="true"></i>
      &nbsp;Clear Chat</ion-item>
</ion-list>