<ion-list no-lines>
  <!-- <ion-list-header>Ionic</ion-list-header> -->
  <ion-item lines="none" button (click)="buddyinfo(1)">
    <ion-icon name="alert-circle-outline"></ion-icon>
    &nbsp;&nbsp;About</ion-item>
    <ion-item lines="none" button (click)="buddyinfo(2)">
      <ion-icon name="person-outline"></ion-icon>
      &nbsp; &nbsp;My Profile</ion-item>
      <ion-item lines="none" button (click)="buddyinfo(3)">
        <ion-icon name="calendar-outline"></ion-icon>
        &nbsp; &nbsp;My Calendar</ion-item>
        <ion-item lines="none" button (click)="buddyinfo(4)">
          <ion-icon name="bookmark-outline"></ion-icon>
          &nbsp; &nbsp;My Tasks</ion-item>
          <ion-item lines="none" button (click)="buddyinfo(5)">
            <ion-icon name="document-attach-outline"></ion-icon>
            &nbsp;&nbsp;My Shelf</ion-item>
            <ion-item lines="none" button (click)="buddyinfo(6)">
              <ion-icon name="apps-outline"></ion-icon>
              &nbsp; &nbsp;Mom</ion-item>
              <ion-item lines="none" button (click)="buddyinfo(7)">
                <ion-icon name="calendar-outline"></ion-icon>
                &nbsp;  &nbsp;Birthdays</ion-item>
                <ion-item lines="none" button (click)="buddyinfo(8)">
                  <ion-icon name="analytics-outline"></ion-icon>
                  &nbsp;&nbsp;Project Milestone</ion-item>
                  <ion-item lines="none" button (click)="buddyinfo(12)">
                    <ion-icon name="star" ></ion-icon>
                    &nbsp;&nbsp;Starred Message</ion-item>
                  <ion-item lines="none" button (click)="buddyinfo(9)">
                    <ion-icon name="lock-open-outline"></ion-icon>
                    &nbsp; &nbsp;Change Password</ion-item>
                    <ion-item lines="none" button (click)="buddyinfo(11)">
                      <ion-icon name="settings-outline"></ion-icon>
                      &nbsp; &nbsp;Customization</ion-item>
                    
                    <ion-item lines="none" button (click)="buddyinfo(10)">
                      <ion-icon name="log-out-outline"></ion-icon>
                      &nbsp;&nbsp;Logout</ion-item>
                      
</ion-list>