<ion-list>
  <!-- <ion-list-header>Ionic</ion-list-header> -->
  <ion-item button (click)="buddyinfo(1)"><i class="fa fa-user" aria-hidden="true"></i>
    &nbsp;Profile</ion-item>
  <ion-item button (click)="buddyinfo(5)"><i class="fa fa-search" aria-hidden="true"></i>
    &nbsp;Search</ion-item>
  <ion-item button (click)="buddyinfo(2)"><i class="fa fa-file" aria-hidden="true"></i>
    &nbsp;File Filter</ion-item>
  <ion-item button (click)="buddyinfo(3)"><i class="fa fa-filter" aria-hidden="true"></i>
    &nbsp;Chat Filter</ion-item>

  <ion-item button (click)="buddyinfo(4)"><i class="fa fa-lock" aria-hidden="true"></i>
    &nbsp;{{blockTitle}}</ion-item>
    <ion-item button (click)="buddyinfo(6)"><i class="fa fa-trash" aria-hidden="true"></i>

      &nbsp;Clear Chat</ion-item>
</ion-list>