ion-item{
    --background:transparent;
    // --background:var(--ion-card-bgcolor);
    color:var(--ion-card-text-color);
}

ion-card{
    border-radius: 15px;
    background-color:var(--ion-card-bgcolor);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.16);
}

ion-card-title{
    color:var(--ion-card-title-color);
}

ion-input{
    color:var(--ion-card-input);
    letter-spacing: 1px;
    font-size: 20px
}

.weekview-allday-table {
    display: none !important;
}


