.sc-ion-modal-md-h:first-of-type{
    margin-top: 100px;
    height: 300px;
}

.sc-ion-modal-md-h{
    height: 430px !important;
    margin-top: 100px !important;
    padding: 25px !important;
}
.androidplaystorediv{
    padding: 24px;
    background-color: black;
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    margin-top: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
.androidplaystore{

}

.alert-message{
    background: rgb(44,144,160) !important;
}
.alert-message.sc-ion-alert-md{
    background: rgb(44,144,160) !important;
    color: #fff;
    text-align: center;
}
.alert-button-group.sc-ion-alert-md{
    justify-content: center !important;
}
.alert-button{
    width: 47%;
}
.alert-message.sc-ion-alert-md table{
    width: 100%;
    text-align: left;
    font-size: 15px;
}
.alert-message.sc-ion-alert-md{
    max-height: auto !important;
}

.alert-message.sc-ion-alert-md table tr td{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: #fff;
    width: 125px;
}
.sc-ion-alert-md-h{
    --min-width: 325px !important;
}
.alert-button-group{
    background-color: rgb(253, 107, 13) !important;
}

.item-inner{
    border-style:none !important;
  }
  .cavirdreams .select-interface-option .alert-checkbox-label {
    color: #971e49;
  }