<ion-list>
  <!-- <ion-list-header>Ionic</ion-list-header> -->
  <button ion-button (click)="myProfile()"><i class="fa fa-user" aria-hidden="true"></i>
    &nbsp;&nbsp;My Profile</button >
  <button ion-button (click)="changeTheme()" >
    <!-- <ion-icon [ngStyle]="{'color': colorCode1}"  name="color-palette-outline"  ></ion-icon> -->
    <i class="fa fa-paint-brush" aria-hidden="true"></i>

    &nbsp;Change Theme
  </button >
  <button ion-button (click)="changepwd()"><i class="fa fa-key" aria-hidden="true"></i>
    &nbsp;Change Password</button >
  <!-- <button ion-button (click)="()"><i class="far fa-handshake"></i>
      &nbsp;</button > -->

  <button ion-button (click)="opencalendar()"><i class="fa fa-calendar" aria-hidden="true"></i>
    &nbsp;&nbsp;My Calendar</button >
  <button ion-button (click)="opentask()"><i class="fa fa-tasks" aria-hidden="true"></i>
    &nbsp;&nbsp;My Task</button >
  <button ion-button (click)="openshelf()"><i class="fa fa-file" aria-hidden="true"></i>
    &nbsp;&nbsp;My Shelf</button >
  <button ion-button (click)="openmom()"><i class="far fa-handshake"></i>
    &nbsp;MOM</button >
  <button ion-button (click)="logout()"><i class="fas fa-sign-out-alt"></i>
    &nbsp;&nbsp;LogOut</button >
  <!-- <button  lines="none" detail="false" button onClick="dismissPopover()">Close</button > -->
</ion-list>